{%load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <ul class="items">
        <li>
          <a href=""
            ><img
              class="nav-icons"
              src="{% static 'images/navbar-icons/DM.png' %}"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href=""
            ><img
              class="nav-icons"
              src="{% static 'images/navbar-icons/server-image.png' %}"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href=""
            ><img
              class="nav-icons"
              src="{% static 'images/navbar-icons/create-server.png' %}"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href=""
            ><img
              class="nav-icons"
              src="{% static 'images/navbar-icons/friends.png' %}"
              alt=""
            />
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
